.form-login {
    width: 30%;
    margin: auto;
}
.login-heading {
    font-size: 30;
    font-weight: bold;
    text-align: center;
}
.login-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    
}
.btn-block 